@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');

.seccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.seccion img {
    width: 100%;
    height: auto;
    max-width: 400px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.seccion h1 {
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Chicle', cursive;
    letter-spacing: 4px;
    margin: 0;
    padding: 20px;
    color: var(--title-color);
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 5);

}

.seccion p {
    margin: 10px 0;
    line-height: 1.5;
    font-size: 1.2rem;
    color: var(--text-color);
    text-align: center;
    max-width: 800px;
    font-weight: 400;
    background: rgba(255, 255, 255, 0.2);
    /* Fondo blanquito translúcido */
    backdrop-filter: blur(8px);
    /* Difumina lo de atrás */
    -webkit-backdrop-filter: blur(8px);
    /* Para compatibilidad */
    padding: 1rem;
    border-radius: 1rem;
}


.seccion a {
    margin: 10px;
    text-decoration: none;
    padding: 8px 12px;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.seccion a:hover {
    color: var(--secondary-color);
}