
#Inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
}

#Titulo h1 {
    font-size: 2.5rem;
    color: var(--text-color);
    text-align: center;
    margin-top: 20px;
}

#Video {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 20px;
}

#Champs {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

/* Estilos de galeria */
#Galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 20px;
}

/* Estilos de Links Oficiales */
.seccion p{
    font-size: 1.2rem;
    color: var(--text-color);
    text-align: center;
    margin: 10px 0;
}

.seccion a {
    margin: 10px;
    text-decoration: none;
    padding: 8px 12px;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.seccion a:hover {
    color: var(--secondary-color);
}