.container-cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 2fr)); /* Reducido de 250px a 200px */
  grid-gap: 1rem;
  justify-content: center;
  padding: 1rem;
}
