.galeria_container {
    display: flex;
    max-width: 550px;
    min-width: 550px;
    align-items: center;
    justify-content: center;
}

.galeria_container img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.galeria_texto{
    font-size: 1.0rem;
    text-align: center;
    margin: 0 10px;
    background-color: white;
}
