/* Tarjeta de galeria */
.galery-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
  min-width: 250px;
  min-height: 200px;
}

/* Tarjeta de inicio */

.inicio-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* ✨ Estilo base */
  border-radius: 10px;
  padding: 10px;
  min-width: 150px;
  min-height: 150px;
  background:  linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  transform: perspective(50px) rotateX(1deg) rotateY(1deg);
  transition: all 0.4s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.inicio-card:hover {
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) translateY(-10px);
}

.inicio-card::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(120deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0) 100%);
  transform: rotate(25deg);
  opacity: 0;
  transition: opacity 0.4s ease;
  pointer-events: none;
}

.inicio-card:hover::before {
  animation: shine 1.2s forwards;
  opacity: 5;
}

@keyframes shine {
  0% {
    transform: translateX(-100%) rotate(25deg);
  }

  100% {
    transform: translateX(100%) rotate(25deg);
  }
}

