
.footer {
    background-color: var(--footer-header-color);
    color: white;
    padding: 20px;
    text-align: center;
}

.footerLinks {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    gap: 20px;
}